@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Hide HTML5 Up and Down arrows. */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

* {
  box-sizing: border-box;
  word-wrap: break-word;
  word-break: normal;
  overflow-wrap: break-word;
}

::placeholder {
  color: #666666;
  font-family: Noto Sans TC, 微軟正黑體, sans-serif;
}

a[href]:focus,
a[href]:active,
area[href]:focus,
area[href]:active,
input:not([disabled]):focus,
input:not([disabled]):active,
select:not([disabled]):focus,
select:not([disabled]):active,
textarea:not([disabled]):focus,
textarea:not([disabled]):active,
button:not([disabled]):focus,
button:not([disabled]):active,
iframe:focus,
iframe:active,
[contentEditable='true']:focus,
[contentEditable='true']:active {
  outline: none;
}

html {
  background: #fff;
}

body {
  overflow-x: hidden;
  font-size: 14px;
  font-family: Noto Sans TC, 微軟正黑體, sans-serif;
  font-weight: 400;
  background: #fff;
  -webkit-overflow-scrolling: touch;
  line-height: 1;
  letter-spacing: 1px;
}

select::-ms-expand {
  display: none;
}

button {
  font-family: Noto Sans TC, 微軟正黑體, sans-serif;
}

button::-moz-focus-inner {
  border: 0;
}

a {
  color: green;
  font-size: 14px0;
}
a[target='_blank']::after {
  display: inline-block;
  width: 12px;
  min-width: 12px;
  height: 12px;
  margin-left: 4px;
  content: '';
}
a:hover {
  color: green;
}
a:active {
  color: #000;
}

hr {
  margin: 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #e4e4e4;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

/*==Table RWD==*/
.tableThLeft {
  width: 100%;
  font-size: 15px;
  border: 1px solid #cccccc;
}

@media screen and (max-width: 719px) {
  .tableThLeft {
    border: 0;
  }
}

.tableThLeft-th,
.tableThLeft-td {
  padding: 20px;
}
.tableThLeft-th {
  background-color: #ccc;
}

@media screen and (max-width: 719px) {
  .tableThLeft-th {
    display: none;
  }
}

.tableThLeft-tbody {
  display: flex;
}

.tableThLeft2 .tableThLeft-tr {
  flex-direction: column;
  display: flex;
  width: 50%;
}

@media screen and (max-width: 719px) {
  .tableThLeft-tr {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
  }
}

/* .tableThLeft-tr:nth-child(even) {
  background-color: #f5f5f5;
} */

.tableThLeft-td {
  border-left: 1px solid #cccccc;
}

.tableThLeft-td:nth-child(even) {
  background-color: #f5f5f5;
}

@media screen and (max-width: 719px) {
  .tableThLeft-td {
    position: relative;
    width: 100%;
    border-left: 0;
  }

  .tableThLeft-td::before {
    content: attr(data-title);
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-weight: bold;
  }
}

.tableThLeft-theadTh {
  background-color: orangered;
}

/*==測試==*/
.container {
  width: 100%;
  max-width: 824px;
  margin: 0 auto;
}

.title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.tableBox {
  font-size: 15px;
  line-height: 1.5;
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
  border: 1px solid #cccccc;
  border-radius: 10px;
  overflow: hidden;
}

@media screen and (max-width: 719px) {
  .tableBox {
    display: block;
  }
}

.tableBox-cell:nth-child(1),
.tableBox-cell:nth-child(2),
.tableBox-cell:nth-child(3),
.tableBox-cell:nth-child(4),
.tableBox--row2 .tableBox-cell:nth-child(1),
.tableBox--row2 .tableBox-cell:nth-child(2),
.tableBox--row2 .tableBox-cell:nth-child(3),
.tableBox--row2 .tableBox-cell:nth-child(4) {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 10%;
  text-align: right;
  border-left: 0;
}

@media screen and (max-width: 719px) {
  .tableBox-cell:nth-child(1),
  .tableBox-cell:nth-child(2),
  .tableBox-cell:nth-child(3),
  .tableBox-cell:nth-child(4) {
    display: none;
  }

  .tableBox-cell:nth-child(4n + 4) {
    border-bottom: 1px solid #666;
  }

  .tableBox-cell:last-child {
    border-bottom: 0;
  }
}

.tableBox-cell {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 90%;
  background-color: white;
  border-color: #e2e6e9;
  box-sizing: border-box;
  flex-grow: 1;
  padding: 20px;
  overflow: hidden;
  list-style: none;
  border-left: solid 1px #ccc;
  /* background: rgba(112, 128, 144, 0.2); */
}

.tableBox--row2 .tableBox-cell {
  flex-basis: 45%;
}

@media screen and (max-width: 719px) {
  .tableBox-cell {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
  }
}

.tableBox-cell:nth-child(even) {
  background-color: #f5f5f5;
}

.tableBox-1 {
  order: 1;
}

.tableBox-2 {
  order: 2;
}

.tableBox-3 {
  order: 3;
}

.tableBox-4 {
  order: 4;
}
